spotipy
pydantic
requests
numpy
tensorflow
pandas
matplotlib
scipy
seaborn
flask
flask_cors
pymongo
pymysql
beautifulsoup4
bs4
certifi
chardet
idna
urllib3
scikit-learn
scipy
seaborn
matplotlib
plotly
keras
tensorflow
catboost
xgboost
lightgbm
streamlit
nltk
transformers
jupyterlab
ipykernel
fitz
python-magic-bin
joblib
uvicorn
openai
fastapi
mysql-connector-python
sqlalchemy
sqlalchemy-utils
passlib
python-dotenv
pytest
jose
jwt
